{% extends "base.html" %}

{% block content %}
<p>
  {% if form.errors %}
  <ul>
    {% for field, errors in form.errors.items() %}
    <li>{{ form[field].label }}: {{ errors }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</p>

<form class="form" method="POST">
  {{ form.hidden_tag() }}
  <p>
    <h1>Sign in</h1>
  </p>

  <p>
    {{ form.username.label }}<br>
    {{ form.username() }}<br>
  </p>

  <p>
    {{ form.password.label }}<br>
    {{ form.password() }}<br>
  </p>

  <p>
    {{ form.remember.label }} {{ form.remember() }}
  </p>

  <p>{{ form.submit() }}</p>

  <p>
    Forgot your password?
    <a href={{ url_for('auth.reset_password_request') }}>Reset password</a>
  </p>
  <p>
    New user?
    <a href={{ url_for('auth.register') }}>Register now</a>
  </p>

</form>
{% endblock %}
