{% extends "base.html" %}

{% block content %}
<p>
  {% if form.errors %}
  <ul>
    {% for field, errors in form.errors.items() %}
    <li>{{ form[field].label }}: {{ errors }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</p>

<form class="form" method="POST">
  {{ form.hidden_tag() }}
  <p>
    <h1>Sign up</h1>
  </p>

  <p>
    {{ form.username.label }}<br>
    {{ form.username() }}<br>
  </p>

  <p>
    {{ form.email.label }}<br>
    {{ form.email() }}<br>
  </p>

  <p>
    {{ form.password.label }}<br>
    {{ form.password() }}<br>
  </p>

  <p>
    {{ form.password_repeat.label }}<br>
    {{ form.password_repeat() }}<br>
  </p>

  <p>{{ form.submit() }}</p>

</form>
{% endblock %}
