{% extends "base.html" %}

{% block content %}

<p>
  {% if form.errors %}
  <ul>
    {% for field, errors in form.errors.items() %}
    <li>{{ form[field].label }}: {{ errors }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</p>

<form method="POST">
  {{ form.hidden_tag() }}
  <p>
    <h1> Reset password </h1>
  </p>

  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}<br>
  </p>

  <p>
    {{ form.password_repeat.label }}<br>
    {{ form.password_repeat(size=32) }}<br>
  </p>

  <p>
    {{ form.submit() }}
  </p>
</form>

{% endblock %}
