{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<img src="../static/images/python-logo.png" alt="Python logo">
<h1>Welcome to SnakeDrive</h1>
<p>
SnakeDrive is a free and open source cloud storage service.<br>
The entire code base can be viewed here: <a href="https://github.com/Vllblvck/SnakeDrive">GitHub page</a><br>
All your files are safe thanks to encryption. Even we can't see them :)<br>
Interested? <a href={{ url_for('auth.register') }}>Register now</a>
</p>
{% endblock %}
