<!DOCTYPE html>
<html lang="en">

<head>
  <title>SnakeDrive</title>
  <meta charset="UTF-8">
  <meta name="description" content="Free and open source file storage with encryption">
  <meta name="keywords" content="Cloud, Free , Open Source, File Storage">
  <meta name="author" content="Mateusz Koamr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>
</head>

<body>
  <div id="container">
    <div class="navbar">
      <ul>
        {% if current_user.is_authenticated %}
        <li><a href={{ url_for('main.drive') }}>SnakeDrive</a></li>
        <li style="float:right">
          <a href={{ url_for('auth.logout') }}>
            <i class="fa fa-sign-out" aria-hidden="true"></i>Log out
          </a>
        </li>
        {% else %}
        <li><a href={{ url_for('main.drive') }}>SnakeDrive</a></li>
        <li style="float:right">
          <a href={{ url_for('auth.login') }}>
            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
          </a>
        </li>
        <li style="float:right">
          <a href={{ url_for('auth.register') }}>
            <i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div id="content">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <footer>
      <p>&copy; 2020 - SnakeDrive</p>
    </footer>
  </div>
</body>

</html>
